[submodule "Libs"]
	path = Libs
	url = https://github.com/WuyangPeng/EngineLib.git
[submodule "External/GSL"]
	path = External/GSL
	url = https://github.com/microsoft/GSL.git
[submodule "External/CppCoreGuidelines"]
	path = External/CppCoreGuidelines
	url = https://github.com/isocpp/CppCoreGuidelines.git
[submodule "External/KhronosGroup/OpenGL"]
	path = External/KhronosGroup/OpenGL
	url = https://github.com/KhronosGroup/OpenGL-Registry.git
[submodule "External/KhronosGroup/EGL"]
	path = External/KhronosGroup/EGL
	url = https://github.com/KhronosGroup/EGL-Registry.git
