!freeglut/BuildWin32/lib/Debug/freeglutd.lib
!freeglut/BuildWin32/lib/Debug/freeglut_staticd.lib
!freeglut/BuildWin32/lib/Debug/freeglutd.exp
!freeglut/BuildWin32/lib/Release/freeglut.lib
!freeglut/BuildWin32/lib/Release/freeglut_static.lib
!freeglut/BuildWin32/lib/Release/freeglut.exp
!freeglut/BuildX64/lib/Debug/freeglutd.lib
!freeglut/BuildX64/lib/Debug/freeglut_staticd.lib
!freeglut/BuildX64/lib/Debug/freeglutd.exp
!freeglut/BuildX64/lib/Release/freeglut.lib
!freeglut/BuildX64/lib/Release/freeglut_static.lib
!freeglut/BuildX64/lib/Release/freeglut.exp
