!freeglut/BuildWin32/lib/Debug/*.lib
!freeglut/BuildWin32/lib/Debug/freeglutd.exp
!freeglut/BuildWin32/lib/Release/*.lib
!freeglut/BuildWin32/lib/Release/freeglut.exp
!freeglut/BuildX64/lib/Debug/*.lib
!freeglut/BuildX64/lib/Debug/freeglutd.exp
!freeglut/BuildX64/lib/Release/*.lib
!freeglut/BuildX64/lib/Release/freeglut.exp

!boost/stage/lib/*.lib

!zlib/BuildWin32/Debug/*.lib
!zlib/BuildWin32/Debug/*.dll
!zlib/BuildWin32/Debug/*.exp
!zlib/BuildWin32/Debug/*.ilk
!zlib/BuildWin32/Release/*.lib
!zlib/BuildWin32/Release/*.dll
!zlib/BuildWin32/Release/*.exp
!zlib/BuildWin32/Release/*.ilk
!zlib/BuildX64/Debug/*.lib
!zlib/BuildX64/Debug/*.dll
!zlib/BuildX64/Debug/*.exp
!zlib/BuildX64/Debug/*.ilk
!zlib/BuildX64/Release/*.lib
!zlib/BuildX64/Release/*.dll
!zlib/BuildX64/Release/*.exp
!zlib/BuildX64/Release/*.ilk