!freeglut/BuildWin32/lib/Debug/*.lib
!freeglut/BuildWin32/lib/Debug/freeglutd.exp
!freeglut/BuildWin32/lib/Release/*.lib
!freeglut/BuildWin32/lib/Release/freeglut.exp
!freeglut/BuildX64/lib/Debug/*.lib
!freeglut/BuildX64/lib/Debug/freeglutd.exp
!freeglut/BuildX64/lib/Release/*.lib
!freeglut/BuildX64/lib/Release/freeglut.exp

!boost/stage/lib/*.lib

